<div class="container pb-5">
  <div class="row">
    <div class="col-sm-12 bg-light shadow-sm text-left">
      <button type="button" class="btn btn-primary my-2">New</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row border-bottom py-1" *ngFor="let item of worldList">
    <div class="col-sm-4 text-left">
      {{item.name}}
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-secondary mr-2">View</button>
      <button type="button" class="btn btn-secondary mr-2">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>