<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="row text-left">
            <div class="col-sm-5 form-group">
              <label for="name-name" class="col-sm-4 pl-0" >Tag name</label>
              <input id="tag-name" type="text" class="col-sm-8 form-control no-block" name="name" [(ngModel)]="tag.name" [readonly]="isActField">
            </div>
            <div class="col-sm-2"></div>
          </div>
          <div class="row py-5">
            <div class="col-sm-12 pb-3">
              <button type="submit" class="btn btn-success mr-1 {{hidden}}" [disabled]="isActField"><i class="far fa-save"></i> Save</button>
              <button type="button" routerLink="../../../../{{partyId}}" class="btn btn-danger"><i class="fas fa-times"></i> Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>