<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="row text-left">
            <div class="col-sm-5 form-group">
              <label class="col-sm-4 pl-0 align-top">Tags</label>
              <select class="col-sm-8 form-control no-block" name="noteTags" [(ngModel)]="tagData" multiple [disabled]="isActField">
                <option  *ngFor="let tag of tags" [value]="tag.id"> {{tag.name}}</option>
              </select>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 form-group">
              <label class="col-sm-4 pl-0 align-top">Can read</label>
                <select class="col-sm-8 form-control no-block" name="members" [(ngModel)]="readData"  multiple [disabled]="isActField">
                  <option  *ngFor="let user of users" [value]="user.id"> {{user.username}}</option>
                </select>
            </div>
          </div>
          <div class="row py-2 text-left">
            <div class="col-sm-12">              
              <label for="party-name" class="col-sm-2 pl-0" >Name</label>
              <input id="party-name" type="text" class="col-sm-12 form-control no-block" name="name" [(ngModel)]="note.name" [readonly]="isActField">
            </div>
            <div class="col-sm-2"></div>
          </div>
          <div class="row py-2 text-left">
            <div class="col-sm-12" *ngIf="mode == 'edit'; else viewText">
              <label for="party-text" class="col-sm-1 pl-0">Text</label>
              <quill-editor id="party-text" name="text" [(ngModel)]="note.text"  [modules]="quillConfig"></quill-editor>
            </div>
            <ng-template #viewText>
                <div [innerHTML]="note.text"></div>>
            </ng-template>
          </div>
          <div class="row py-4"></div>
          <div class="row py-5">
            <div class="col-sm-12 pb-3">
              <button type="submit" class="btn btn-success mr-1 {{hidden}}" [disabled]="isActField"><i class="far fa-save"></i> Save</button>
              <button type="button" routerLink="../../../../{{partyId}}" class="btn btn-danger"><i class="fas fa-times"></i> Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>