<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="container">
            <div class="row">
              <div class="col-sm-5 mx-auto">
                <label>username</label>
                <input type="text" class="col-sm-12 {{inpBorder}}" name="usrname" ngModel/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 pt-2 mx-auto">
                <label>password</label>
                <input type="password" class="col-sm-12 {{inpBorder}}" name="pw" ngModel/>
              </div>
            </div>
            <div class="row {{loginDialogClass}}">
              <div class="col-sm-12">
                  <div class="text-danger text-center">{{loginDialogText}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 pt-5">
                <button type="submit" class="col-sm-12 col-md-5 btn-success" >Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>