<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="row text-left">
            <div class="col-sm-5">
              <input type="hidden" name="id" [(ngModel)]="data.id">
              <label class="col-sm-4 pl-0">Worldname</label>
              <input type="text" class="col-sm-8" name="name" [(ngModel)]="data.name">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
              <label class="col-sm-4 pl-0">Contraction</label>
              <input type="text" class="col-sm-8" name="short" [(ngModel)]="data.short">
            </div>
          </div>
          <div class="row py-3 text-left">
            <div class="col-sm-5">
              <label class="col-sm-4 pl-0">Edition</label>
              <input type="text" class="col-sm-8" name="edition" [(ngModel)]="data.edition">
            </div>
          </div>
          <div class="row py-3 text-left">
            <div class="col-sm-12">
                <label class="col-sm-1 pl-0 mr-5">Description</label>
                <textarea class="col-sm-12" rows="10" name="desc" [(ngModel)]="data.desc"></textarea>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-sm-12 pb-3">
              <button type="submit" class="btn btn-success mr-1">Save</button>
              <button type="button" routerLink="../../" class="btn btn-danger">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>